*.h.bak
*.c.bak
*.cc.bak
*.cpp.bak
*.ecpp.bak
.*.swp
.*.swo
*.bnf
.#*
*~
*.pid

aclocal.m4
autom4te.cache
build-aux
config/
config.h
config.h.in
confdefs.h
config.log
config.status
conftest.*
configure
!configure.ac
.deps
.git_details
.git_details.tmp
src/include/git_details_override.c
src/include/git_details_override.h
.libs/
nbproject
libtool
lib*.a
lib*.la
lib*.so
lib*.so.*
INSTALL*.html
CONTRIB*.html
Makefile.in
Makefile
!Makefile.am
driver-nmap
netmon
bios_web.la
dshell
!tools/dshell

*.o
*.lo

check-builddeps.py
bios-qa
Installation
ut_result.log

db_dump

.dirstamp
stamp-h1

docs/man/*.8
docs/develop/*.html

!docs/develop/README-builder.txt
!docs/develop/README-init-os-accounts.txt
docs/develop/*.txt

docs/doxygen/Doxyfile
!docs/doxygen/Doxyfile.in
docs/doxygen/doxylog.txt
docs/doxygen/html/
docs/doxygen/doxygen_sqlite3.db
docs/doxygen/*.tmp

.test.log
.test.trs
test-log.*
test-*.log
test-*.trs
make.log
make.output*
cppcheck.supp
cppcheck.xml

test-agents
test-api
test-cidr
test-computation
test-csv
test-loadcsv
test-database
test-db-alert
test-db
test-db2
test-log
test-nmap-parse
test-subprocess
test-utils
test-dbtopology
test-totalpower
test-web
test-libbiosapiut
test-db-asset-crud
agent-inventory
db-ng
agent-nut
agent-alert
agent-alert-smtp
server-agent
agent-cm
bios-email
agent-tpower

tests/junit/
tests/CI/web/log/
tests/CI/tmp.*
tests/CI/web/commands/tmp.*
tests/CI/*.pyc

build/
build-*/

core-*.*/
core-*.*.tar.?z
core-*.deb

bios-*.*/
bios-*.*.tar.?z
bios-*.deb

src/utils/messages/json_schemas.h
!tools/dbpath.cc.in
tools/dbpath.cc
tools/run-test-doc.sh
tools/run-test-doc.sh.log
tools/run-test-doc.sh.trs
tools/db-init
!tools/db-init.in

!tools/bios-agent-alert.service.in
bios-agent-alert.service
!tools/bios-agent-alert-smtp.service.in
bios-agent-alert-smtp.service
!tools/bios-agent-cm.service.in
bios-agent-cm.service
!tools/bios-agent-inventory.service.in
bios-agent-inventory.service
!tools/bios-agent-nut.service.in
bios-agent-nut.service
!tools/bios-driver-netmon.service.in
bios-driver-netmon.service
!tools/bios-driver-nmap.service.in
bios-driver-nmap.service
!tools/bios-db.service.in
bios-db.service
!tools/bios-server-agent.service.in
bios-server-agent.service
!tools/bios-agent-tpower.service.in
bios-agent-tpower.service

src/web/src/auth-verify.cpp
src/web/src/auth-require.cpp
src/web/src/auth.cpp
src/web/src/asset_import.cpp
src/web/src/agent.cpp
src/web/src/alerts.cpp
src/web/src/average.cpp
src/web/src/item.cpp
src/web/src/json.cpp
src/web/src/list.cpp
src/web/src/time.cpp
src/web/src/network.cpp
src/web/src/networks.cpp
src/web/src/current.cpp
src/web/src/datacenter_indicators.cpp
src/web/src/location.cpp
src/web/src/power.cpp
src/web/src/rack_total.cpp
src/web/src/sysinfo.cpp
src/web/src/ui_properties.cpp
src/web/src/alerts.cpp
tntnet.xml.example
!src/web/tntnet.xml
tntnet.xml

!src/agents
!src/agents/dbstore
!src/agents/netmon
!src/agents/nmap
!src/agents/nut
!src/agents/server-agent

src/api/libbiosapi.pc
!src/api/libbiosapi.pc.in

