.*.swp
.*.swo

aclocal.m4
autom4te.cache
build-aux
config/
config.h
config.h.in
config.h.in~
config.log
config.status
configure
.deps
libtool
Makefile.in
Makefile

./netmon
*.o
*.lo

db_dump

.dirstamp
stamp-h1

docs/man/*.8

.test.log
.test.trs
test-log.*

build/
core-*.*/

core-*.*.tar.?z
