*.sh.bak
*.h.bak
*.c.bak
*.cc.bak
*.cpp.bak
*.ecpp.bak
.*.swp
.*.swo
*.bnf
.#*
*~
*.pid
*.log

aclocal.m4
autom4te.cache
build-aux
config/
config.h
config.h.in
confdefs.h
config.log
config.status
conftest.*
configure
!configure.ac
.deps
.git_details
.git_details-fty-core
.git_details.tmp
src/include/git_details_override.c
src/include/git_details_override.h
.libs/
nbproject
libtool
lib*.a
lib*.la
lib*.so
lib*.so.*
INSTALL*.html
CONTRIB*.html
Makefile.in
Makefile
!Makefile.am
bios_web.la

*.o
*.lo

check-builddeps.py
bios-qa
Installation
ut_result.log

db_dump

.dirstamp
stamp-h1

docs/man/*.xml
docs/man/*.8
docs/develop/*.html

!docs/develop/README-builder.txt
!docs/develop/README-init-os-accounts.txt
docs/develop/*.txt

docs/doxygen/Doxyfile
!docs/doxygen/Doxyfile.in
docs/doxygen/doxylog.txt
docs/doxygen/html/
docs/doxygen/doxygen_sqlite3.db
docs/doxygen/*.tmp

docs/examples/sudoers.d/fty_00_base
!docs/examples/sudoers.d/fty_00_base.in
docs/examples/nut-server.service.d/configure-nut-users.conf
!docs/examples/nut-server.service.d/configure-nut-users.conf.in

.test.log
.test.trs
test-log.*
test-*.log
test-*.trs
make.log
make.output*
cppcheck.supp
cppcheck.xml

test-agents
test-api
test-cidr
test-csv
test-loadcsv
test-db2
test-log
test-subprocess
test-utils
test-utils-plusplus
test-utils-web
test-dbtopology
test-web
test-web-helpers
test-libbiosapiut
test-db-asset-crud
test-autoconfig
test-tntmlm
test-totalpower
agent-inventory
agent-autoconfig
generate_measurement
warranty-metric
bios-csv

tests/junit/
tests/CI/web/log/
tests/CI/tmp.*
tests/CI/web/commands/tmp.*
tests/CI/*.pyc

var/

build/
build-*/

bios-*.*/
bios-*.*.tar.?z
bios-*.deb

core-*.*/
core-*.*.tar.?z
core-*.deb

fty-core-*.*/
fty-core-*.*.tar.?z
fty-core-*.deb

src/utils/messages/json_schemas.h
tools/journalctl
tools/run-test-doc.sh
tools/run-test-doc.sh.log
tools/run-test-doc.sh.trs
tools/db-init
!tools/db-init.in
tools/factory-reset-live.sh
!tools/factory-reset-live.sh.in
tools/bios-passwd
!tools/bios-passwd.in

systemd/42-bios-systemd.preset
!systemd/bios-db-init.service.in
systemd/bios-db-init.service
!systemd/bios-agent-cm.service.in
systemd/bios-agent-cm.service
!systemd/bios-agent-inventory.service.in
systemd/bios-agent-inventory.service
systemd/bios-reset-button.service
!systemd/bios-reset-button.service.in
!systemd/biostimer-warranty-metric.service.in
systemd/biostimer-warranty-metric.service
!systemd/ifplug-dhcp-autoconf.service.in
systemd/ifplug-dhcp-autoconf.service
!systemd/bios-ssh-last-resort.service.in
systemd/bios-ssh-last-resort.service
!systemd/bios-networking.service.in
systemd/bios-networking.service
!systemd/bios-fake-th.service.in
systemd/bios-fake-th.service
!systemd/biostimer-verify-fs.service.in
systemd/biostimer-verify-fs.service
!systemd/biostimer-compress-logs.service.in
systemd/biostimer-compress-logs.service
!systemd/biostimer-loghost-rsyslog-netconsole.service.in
systemd/biostimer-loghost-rsyslog-netconsole.service
!systemd/ipc-meta-setup.service.in
systemd/ipc-meta-setup.service
!systemd/fty-db-init.service.in
systemd/fty-db-init.service
!systemd/fty-db-engine.service.in
systemd/fty-db-engine.service
!systemd/fty-tntnet@.service.in
systemd/fty-tntnet@.service
!systemd/fty-envvars.service.in
systemd/fty-envvars.service

!tools/tntnet-ExecStartPre.sh.in
tools/tntnet-ExecStartPre.sh
!tools/envvars-ExecStartPre.sh.in
tools/envvars-ExecStartPre.sh
!tools/start-db-services.in
tools/start-db-services
!tools/setup-nut-users-ExecStartPre.sh.in
tools/setup-nut-users-ExecStartPre.sh

src/web/src/auth-verify.cpp
src/web/src/auth-require.cpp
src/web/src/augtool.cpp
src/web/src/auth.cpp
src/web/src/asset_*.cpp
src/web/src/assets_*.cpp
src/web/src/agent.cpp
src/web/src/alerts.cpp
src/web/src/average.cpp
src/web/src/config.cpp
src/web/src/json.cpp
src/web/src/asset_list.cpp
src/web/src/getlog_GET.cpp
src/web/src/netcfg.cpp
src/web/src/iface.cpp
src/web/src/license.cpp
src/web/src/license_status.cpp
src/web/src/license_text.cpp
src/web/src/license_POST.cpp
src/web/src/netcfg-list.cpp
src/web/src/time.cpp
src/web/src/network.cpp
src/web/src/networks.cpp
src/web/src/current.cpp
src/web/src/datacenter_indicators.cpp
src/web/src/topology_location_from.cpp
src/web/src/topology_location_to.cpp
src/web/src/topology_power.cpp
src/web/src/rack_total.cpp
src/web/src/sysinfo.cpp
src/web/src/ssl-redirect.cpp
src/web/src/ui_properties.cpp
src/web/src/alerts.cpp
src/web/src/uptime.cpp
src/web/src/my_profile.cpp
src/web/src/not_found.cpp
src/web/src/asset_export.cpp
src/web/src/admin_passwd.cpp
src/web/src/admin_passwd.ecpp
!src/web/src/admin_passwd.ecpp.in
src/web/src/admin_iface.cpp
src/web/src/admin_ifaces.cpp
src/web/src/systemctl.cpp
src/web/src/alert_rules_list.cpp
src/web/src/alert_rules_detail.cpp
src/web/src/alert_rules.cpp
src/web/src/alert_ack.cpp
src/web/src/alert_list.cpp
src/web/src/email_feedback.cpp
src/web/src/email_test.cpp
src/web/src/email_vote.cpp
src/web/src/input_power_chain.cpp

tntnet.xml.example
tntnet.xml
tests/CI/run_tntnet_make.env

!src/agents

src/api/libbiosapi.pc
!src/api/libbiosapi.pc.in
tools/verify-fs
!tools/verify-fs.in

database/mysql/test_averages_relative.sql

*.git
tmp
setup/20-th-names.sh
setup/20-rcmysql-transient.sh
