#
# log4cplus configuration file
# for tntnet common logging and REST auditabilty
#

# root logger
log4cplus.rootLogger=INFO, console

# console appender
log4cplus.appender.console=log4cplus::ConsoleAppender
log4cplus.appender.console.Threshold=INHERIT
log4cplus.appender.console.immediateFlush=true
log4cplus.appender.console.layout=log4cplus::PatternLayout
log4cplus.appender.console.layout.ConversionPattern=%D{%Y-%m-%d %H:%M:%S} %c [%-5p] %F:%L %m%n
##log4cplus.appender.console.layout.ConversionPattern=%c [%t] -%-5p- %M (%l) %m%n

# www-audit logger
log4cplus.logger.www-audit=INFO, auditlog

# auditlog appender
# layout with MDC (Mapped Diagnostic Context) keys availables: sessionid, username, uid.
log4cplus.appender.auditlog=log4cplus::RollingFileAppender
log4cplus.appender.auditlog.File=/var/log/tntnet/www-audit.log
log4cplus.appender.auditlog.MaxFileSize=16MB
log4cplus.appender.auditlog.MaxBackupIndex=3
log4cplus.appender.auditlog.Threshold=INFO
log4cplus.appender.auditlog.layout=log4cplus::PatternLayout
log4cplus.appender.auditlog.layout.ConversionPattern=%D %-5p [%X{sessionid}-%X{username}@%X{IP}-%X{uid}] %m%n

# syslog appender
#log4cplus.appender.syslog.Threshold=INFO
#log4cplus.appender.syslog=log4cplus::SysLogAppender
#log4cplus.appender.syslog.layout=log4cplus::PatternLayout
#log4cplus.appender.syslog.layout.ConversionPattern=%D %-5p [%X{sessionid}-%X{username}@%X{IP}-%X{uid}] %m%n
