[Unit]
Description=42ity-Timer to regularly send warranty metrics
Requires=malamute.service fty-db-init.service
After=malamute.service fty-db-init.service
PartOf=bios.target

[Timer]
# Time to wait after booting before we run first time
OnBootSec=60min
### Run every night
OnCalendar=*-*-* 04:20:00
# Do not record last-execution times
Persistent=false

[Install]
WantedBy=bios.target
