[Unit]
Description=Target that is reached when 42ity database is ready to use
# NOTE: Do not list a "Wants=system services" here, such list is used to stop units via bios.service
Requires=multi-user.target network.target bios-pre-eula.target
# These targets we "Want" (try to start once) but do not Require
# (keep on starting) - just Requisite so we do not start without
# if they are not activable at the moment.
Wants=fty-license-accepted.target
Requisite=fty-license-accepted.target
BindsTo=fty-license-accepted.target
After=multi-user.target network.target bios-pre-eula.target fty-license-accepted.target
Before=bios.target
Conflicts=rescue.target shutdown.target poweroff.target halt.target reboot.target emergency.target
PartOf=bios.target

Requisite=bios-allowed.target
After=bios-allowed.target
PartOf=bios-allowed.target
BindsTo=bios-allowed.target
Conflicts=bios-shutdown.target

[Install]
WantedBy=multi-user.target
