[Unit]
Description=Target that is reached when 42ity database is ready to use
# NOTE: Do not list a "Wants=system services" here, such list is used to stop units via bios.service
Requires=multi-user.target network.target bios-pre-eula.target fty-license-accepted.target
Requisite=fty-license-accepted.target
BindsTo=fty-license-accepted.target
After=multi-user.target network.target bios-pre-eula.target fty-license-accepted.target
Before=bios.target
Conflicts=rescue.target shutdown.target
PartOf=bios.target

[Install]
RequiredBy=bios.target
