[Unit]
Description=Milestone for all 42ity-related services that should start after license is accepted
# Note: Assert* may become available in a later version of systemd than what
# we have in Debian 8; but for now we have to do the ExecStart* tricks below.
# And note that Condition is too weak for this - it has the service "active"
# though with a failed condition, and for dependencies like "fty-db-engine"
# this status sometimes suffices to start up.
#AssertFileNotEmpty=/var/lib/fty/fty-eula/license
#ConditionFileNotEmpty=/var/lib/fty/fty-eula/license
Requires=multi-user.target network.target
After=multi-user.target network.target
Conflicts=rescue.target shutdown.target
PartOf=bios.target

[Service]
Type=simple
### the service shall be considered active even when all its processes exited
RemainAfterExit=yes
Restart=always
User=root
ExecStartPre=/bin/dash -c "sleep 2 ; /usr/bin/test -s /var/lib/fty/fty-eula/license"
ExecStart=/bin/dash -c "while ! /usr/bin/test -s /var/lib/fty/fty-eula/license ; do sleep 3 ; done"
ExecStartPost=/bin/dash -c "/usr/libexec/fty/disable-root-account"
ExecStartPost=-/bin/systemctl start --no-block bios.service
ExecStartPost=/bin/dash -c "/usr/bin/bmsg publish eula ACCEPTED"
ExecStartPost=/bin/dash -c "/bin/systemctl start --no-block -- $(/bin/systemctl show -p WantedBy -p RequiredBy -p BoundBy fty-license-accepted.service | cut -d= -f2 | sort | uniq | tr '\\n' ' ')"

[Install]
WantedBy=bios.target
