[Unit]
Description=Target which wants all BIOS-related services so they can be started and stopped uniformly
Requires=multi-user.target
After=multi-user.target
Conflicts=rescue.target shutdown.target
