[Unit]
Description=Service to toggle bios.target and whoever wants it
Requires=multi-user.target network.target
After=multi-user.target network.target
Conflicts=rescue.target shutdown.target

[Service]
Type-oneshot
ExecStart=/bin/systemctl start bios.target
ExecStop=/bin/sh -c '/bin/systemctl stop -- $(/bin/systemctl show -p Wants bios.target | /bin/cut -d= -f2)'

[Install]
Alias=bios.target
